*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.texto{
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.texto .search-box{
    max-width: 550px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #3a3a3e;
    padding: 10px 15px;
    border-radius: 6px;
}
.texto .search-box input{
    flex: 1;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    outline: none;
}








.unidade-section{
    width: 100%;
    height: 100%;
    padding: 50px 30px;
}
.unidade-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.unidade-card{
    background-color: #141414;
    width: 320px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.unidade-content{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}
.div-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-buttons a{
    width: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}


















/* Responsividade */
@media (max-width: 306px) {
    .texto .search-box {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  .texto .search-box input {
    width: 100%;
  }
}